{% comment %}
  File: snippets/price.liquid
  Description: Handles product price display, accounting for discounts or sales.
{% endcomment %}

{% if product.compare_at_price > product.price %}
    <p>
      <span style="text-decoration: line-through; color: red;">
        {{ product.compare_at_price | money }}
      </span>
      <span style="font-weight: bold; color: #FFD700;">
        {{ product.price | money }}
      </span>
    </p>
  {% else %}
    <p style="font-weight: bold;">{{ product.price | money }}</p>
  {% endif %}
  