{% comment %} 
#comment: Header section that displays the store logo and navigation menu.
{% endcomment %}
<header class="site-header"> <!-- #comment: Container for the site header -->
  <div class="logo"> <!-- #comment: Container for the logo -->
    <a href="/">{{ shop.name }}</a> <!-- #comment: Link to the homepage displaying the shop name -->
  </div> <!-- #comment: End logo container -->
  <nav class="main-navigation"> <!-- #comment: Container for the main navigation menu -->
    <ul> <!-- #comment: Begin unordered list for navigation links -->
      <li><a href="/collections/mens-tshirts">Men's T-Shirts</a></li> <!-- #comment: Navigation link to Men's T-Shirts collection -->
      <li><a href="/collections/hoodies">Hoodies</a></li> <!-- #comment: Navigation link to Hoodies collection -->
      <li><a href="/collections/long-sleeved-shirts">Long Sleeve Shirts</a></li> <!-- #comment: Navigation link to Long Sleeve Shirts collection -->
      <li><a href="/pages/about-us">About Us</a></li> <!-- #comment: Navigation link to the About Us page -->
      <li><a href="/pages/contact">Contact</a></li> <!-- #comment: Navigation link to the Contact page -->
    </ul> <!-- #comment: End unordered list for navigation -->
  </nav> <!-- #comment: End navigation container -->
</header> <!-- #comment: End site header container -->
