{% comment %}
Main Shopify Theme Layout
{% endcomment %}
<!DOCTYPE html>
    <html lang="en">
    <head>
        <title>{{ shop.name }}</title>
        <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    </head>
    <body>
        {{ content_for_layout }}
    </body>
    </html>
    